@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: 'Mooli', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  margin: 0;
}

header, footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 1rem;
  text-align: center;
}

a:link, a:visited {
  color: var(--accent-color);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 1rem;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: auto;
}
@media (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #menu-button {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
#main-nav ul {
  display: none;
  list-style: none;
  padding: 0;
}

#main-nav.open ul {
  display: block;
}
.hide {
  display: none;
}
dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
dialog img {
  display: block;
  margin: 0 auto;
  max-width: 90vw;
  max-height: 90vh;
  position: relative;
  top: 10vh;
  z-index: 11;
  border-radius: 8px;
}
.close-viewer {
  position: absolute;
  right: 2rem;
  top: 2rem;
  background: var(--accent-color);
  color: white;
  border: none;
  font-size: 1.5em;
  padding: 0.5rem 1rem;
  z-index: 12;
  cursor: pointer;
}